<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户管理</title>
  <link rel="stylesheet" href="../../styles/com.css">
</head>
<body>
  <div id="wrapper" class="wrapper">
    <div id="sidebar" class="sidebar">
      <nav>
        <ul class="sidebar__menu"></ul>
      </nav>
    </div>
    <div id="container" class="container">
      <div class="header">
        <div class="header__crumb">
            用户管理
        </div>
        <div class="navbar"></div>
        <div class="avatar-wrapper">
          <img src="../../styles/avatar.gif" alt="" class="user-avatar">
          <i class="arrow-down"></i>
        </div>
      </div>
      <div class="view-container">
        <div class="title"></div>
        <div class="content">
          <table class="main-table">
            <thead>
              <tr><th>用户Id</th><th>账号</th><th>品牌</th><th>创建时间</th><th>更新时间</th></tr>
            </thead>
            <tbody class="main-table__tbody">

            </tbody>
          </table>
        </div>
      </div>
      <ul class="user-menu">
        <li class="user-menu__item">退出登录</li>
      </ul>
    </div>
    <div class="cover"></div>
  </div>
  <script src="../../util/index.js"></script>
  <script src="../../util/render.js"></script>
  <script src="../../util/request.js"></script>
  <script>
    const filter = {
      offset: 0,
      limit: 10
    }
    request
    .get('/user/list', filter)
    .then(function (res) {
      let tbHtmlStr = ''
      _.each(res.data, function (row) {
        tbHtmlStr += '<tr><td>'+ row.id +'</td><td>'+ row.username +'</td><td>'+ row.brandName +'</td><td>'+ row.createAt.replace(/[TZ]/g, ' ') +'</td><td>'+ row.updateAt.replace(/[TZ]/g, ' ') +'</td></tr>'
      })
      $k('.main-table__tbody').innerHTML = tbHtmlStr
    })
  </script>
</body>
</html>